<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Descărcați aplicația noastră</h3>
                <p>Descărcați aplicația pentru telefoane Android și ios.</p>
                <div class="app-logo">
                    <img src="/images/play-store.png">
                    <img src="/images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <p>Scopul nostru este de a face cumpărăturile din zona tech
                    cât mai accesibile cu putință</p>
            </div>
            <div class="footer-col-3">
                <h3>Link-uri folositoare</h3>
                <ul>
                    <li>Cupoane</li>
                    <li>Postari Blog</li>
                    <li>Politica retunare</li>
                    <li>Alaturati-va afiliatului</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Urmariți-ne</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2020 - Zlampa Ciprian - Lucrare de licență</p>
    </div>
</div>