<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Cipri-Components | Ecommerce Website Design</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="script.js" defer></script>
    <script src="cart.js" defer></script>
</head>

<body>
    {{>header this}}
    <section class="container content-section">
        <h2 class="section-header">Coș de cumpărături</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">Produs</span>
            <span class="cart-price cart-header cart-column">Preț</span>
            <span class="cart-quantity cart-header cart-column">Cantitate</span>
        </div>
        <div class="cart-items"></div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">0 lei</span>
        </div>
        <button id="buyBtn" class="btn btn-primary btn-purchase btncos" type="button" disabled="true"
            onclick="location.href='/pay';">Cumpară</button>
    </section>
    {{>footer}}
</body>

</html>