<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Cipri-Components | Ecommerce Website Design</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/script.js" defer></script>
    <script src="/produse.js" defer></script>
</head>

<body>
    {{>header this}}
    <section>
        <!--Produse-->
        <div class="small-container">
            <div class="row row-2">
                <h2>Toate produsele</h2>
            </div>
            <div class="wrapper">
                <div id="search-container">
                    <input type="search" id="search-input" placeholder="Căutați produsul aici.." />
                    <button id="search">Caută</button>
                    {{#if isAdmin}}
                    <a href="/add">
                        <button id="search">Adaugă produse</button>
                    </a>
                    {{/if}}
                </div>
                <div id="buttons">
                    <button class="button-value" onclick="filterProduct('Toate')">Toate</button>
                    <button class="button-value" onclick="filterProduct('Telefoane')">
                        Telefoane
                    </button>
                    <button class="button-value" onclick="filterProduct('Laptopuri')">
                        Laptopuri
                    </button>
                    <button class="button-value" onclick="filterProduct('Tablete')">
                        Tablete
                    </button>
                    <button class="button-value" onclick="filterProduct('Sisteme-PC')">
                        Sisteme-PC
                    </button>
                    <button class="button-value" onclick="filterProduct('TV')">
                        TV
                    </button>
                    <button class="button-value" onclick="filterProduct('Componente-IT')">
                        Componente-IT
                    </button>
                </div>
                <div id="products"></div>
            </div>
            <div>
                <img id="leftArrow" style="opacity:10%" src="/images/stanga.png">
                <img id="rightArrow" style="opacity:10%" src="/images/dreapta.png">
            </div>
        </div>
    </section>
    {{>footer}}
</body>

</html>